<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/app-login">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngFor="let menu of filteredMenu">
            <a class="nav-link" [routerLink]="menu.path">{{menu.text}}</a>
          </li>
        </ul>
        <form class="d-flex justify-content-between">
          <span class="text-white">Logged In : {{ role }}</span>
          <!-- <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button> -->
        </form>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>